body{
    font-family: 'Courier New', Courier, monospace;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.buttons>button {
    min-width: 90px;
    border-radius: 10px;
    border: 0px;
    background-color: lightblue;
    padding: 10px 15px;
}